body {
    text-align: center;
}
ul {
    list-style-position: inside;
    list-style-type: square;
    padding-left: 0;
}
.lists {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}