body {
    background-color: #EBE8E2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: black;
    margin: 0;
    padding-bottom: 3rem;
}

/* Navigation */
.nav__list {
    display: flex;
    font-family: Helvetica, sans-serif;
    justify-content: flex-start;
    align-items:center;
    padding: 2rem;
    gap: 6rem;
    list-style: none;
}

.nav__link {
    text-decoration: none;
}
