body {
    background-color: #EBE8E2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #black;
    margin: 0;
    padding-bottom: 3rem;
}

/* Navigation */
.nav__list {
    display: flex;
    font-family: Helvetica, sans-serif;
    justify-content:left;
    align-items:center;
    padding: 2rem;
    gap: 6rem;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    /* color: var(--text-color); */
    display: flex;
    gap: 2rem;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }